n8n-workflows/post-ollama-test.json
{
  "name": "POST + Ollama Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-test",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "prompt": "Create a short podcast bio for: {{ $json.name }}\nProfile: {{ $json.profile_text }}\n\nReturn just the bio paragraph:",
        "options": {
          "baseURL": "http://ollama:11434"
        }
      },
      "id": "ollama1",
      "name": "Ollama AI",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"name\": $('Webhook').item.json.name, \"original_input\": $('Webhook').item.json, \"ai_bio\": $json.response } }}"
      },
      "id": "respond1",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook", 
      "typeVersion": 1,
      "position": [700, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Ollama AI", "type": "main", "index": 0}]]
    },
    "Ollama AI": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  }
}
